#behat-ui-output {
  display: block;
  height: 800px;
  margin-bottom: 1em;
  border: 1px solid #333;
  background: #ffe;
}

#behat-ui-output * {
  font-size: 14px;
  font-family: sans-serif;
}

#behat-ui-output table {
  width: 90% !important;
}

#behat-ui-status {
  font-weight: bold;
  line-height: 16px;
}

#behat-ui-status span {
  color: #a00;
  padding-left: 18px;
}

#behat-ui-status.running span {
  color: green;
  background: transparent url(../../images/loading.gif) left center no-repeat;
}

#behat .summary {
  position: static !important;
}

#behat .summary .switchers {
  display: none !important;
}

#behat-ui-steps {
  display: none;
}

#behat-ui-steps .form-type-textfield .form-rich,
#behat-ui-steps .form-type-textfield .form-text.form-rich-processed {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  border: 0;
  outline: none;
}

#behat-ui-new-steps .form-type-textfield .form-rich,
#behat-ui-new-steps .form-type-textfield .form-text.form-rich-processed {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  border: 0;
  outline: none;
}

#behat-ui-new-steps .form-type-textfield .form-rich {
  z-index: 1;
  background: transparent;
}

#behat-ui-new-steps .form-type-textfield .form-text.form-rich-processed {
  color: transparent;
  background-position: 100% 2px;
}

#behat-ui-new-steps .form-type-textfield .form-text.form-rich-processed.throbbing {
  background-position: 100% -18px;
}

#behat-ui-new-steps .step-param {
  font-weight: bold;
  color: #000;
}

#behat-ui-new-steps .step-no-param {
  font-weight: normal;
  color: #666;
  font-size: 0.8rem;
}

#behat-ui-new-steps .sort-up,
#behat-ui-new-steps .sort-down,
#behat-ui-new-steps .remove {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  text-indent: -5000em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

#behat-ui-new-steps .sort-up {
  left: 3px;
  top: 11px;
  background-image: url(../../images/up.png);
}

#behat-ui-new-steps .sort-up:hover {
  background-image: url(../../images/up-hover.png);
}

#behat-ui-new-steps .sort-down {
  left: 3px;
  top: 23px;
  background-image: url(../../images/down.png);
}

#behat-ui-new-steps .sort-down:hover {
  background-image: url(../../images/down-hover.png);
}

#behat-ui-new-steps .remove {
  right: 2px;
  top: 16px;
  background-image: url(../../images/remove.png);
}

#behat-ui-new-steps .remove:hover {
  background-image: url(../../images/remove-hover.png);
}

#behat-ui-new-steps .fieldset__wrapper .form-item {
  margin: 0;
}

#behat-ui-new-steps .fieldset__wrapper .form-item .fieldset__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 3px 0;
}

#behat-ui-new-steps .fieldset__wrapper .form-item .fieldset__wrapper .form-element--type-select {
  font-weight: bolder;
}

#behat-ui-new-steps .fieldset__wrapper .form-item .fieldset__wrapper .form-type--textfield {
  width: 87%;
}

#behat-ui-new-steps .fieldset__wrapper fieldset {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}

#behat-ui-new-steps .claro-autocomplete {
  margin: 0;
}

.free-text-ace-editor {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  tabindex: -1;
}

#free_text_ace_editor.ace_editor {
  font-size: 1.2rem;
  height: 770px;
  border: 1px solid;
}
